.wrapper {
  height: 100%;
}

.logo {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  color: #1890ff;
}

.form {
  width: 100%;
  max-width: 400px;
}

.form_item {
  margin-bottom: 20px;
}

.login_btn {
  width: 100%;
}
